<ion-content>
  <img class="logo" src="assets/imgs/logo1.png" alt="image">
  <div padding>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
        </ion-col>
        <ion-col size="8">
          <form novalidate [formGroup]="form">
            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="usuario"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
            </ion-item>

            <ion-button padding class="botton" shape="round" color="danger" type="submit" [disabled]="form.invalid" (click)="Ingresar()">Entrar</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>