<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="form">
    <ion-item>
      <ion-input formControlName="nombre" placeholder="Escriba su nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="Escriba un correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Escriba una contraseña"></ion-input>
    </ion-item>
    <ion-button padding class="botton" shape="round" color="danger" [disabled]="form.invalid" (click)="saveUser()">Crear usuario</ion-button>
  </form>
</ion-content>
