<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="11">
        <ion-title>
          <ion-searchbar placeholder="buscar"></ion-searchbar>
        </ion-title>
      </ion-col>
      <ion-col size="1">
        <ion-img class="logo" src="/assets/imgs/logo.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
  <h3>Inicio</h3>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card class="welcome-card">
          <ion-card-header color="danger">
            <ion-card-title>Carpeta 1</ion-card-title>
            <!-- <ion-button color="danger">
                <ion-icon name="more" slot="icon-only"></ion-icon>
              </ion-button> -->
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out
              some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="welcome-card">
          <ion-card-header color="danger">
            <ion-card-title>Carpeta 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out
              some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="welcome-card">
          <ion-card-header color="danger">
            <ion-card-title>Carpeta 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out
              some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3>Todos los examenes</h3>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-card-header color="danger">
                <ion-card-title>Examen 1</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Now that your app has been created, you'll want to start building out features and components. Check out
                  some of the resources below for next steps.</p>
              </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="welcome-card">
            <ion-card-header color="danger">
                <ion-card-title>Examen 2</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Now that your app has been created, you'll want to start building out features and components. Check out
                  some of the resources below for next steps.</p>
              </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger">
        <ion-icon name="contacts"></ion-icon>
      </ion-fab-button>
      <ion-label>Crear Usuario</ion-label>
      <ion-fab-button color="danger">
        <ion-icon name="clipboard"></ion-icon>
      </ion-fab-button>
      <ion-label>Crear examen</ion-label>
      <ion-fab-button color="danger">
        <ion-icon name="folder"></ion-icon>
      </ion-fab-button>
      <ion-label>Crear carpeta</ion-label>
    </ion-fab-list>
  </ion-fab>
</ion-content>